.container {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.square-button, .reset-button {
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid black;
}