.container {
    width: 600px;
    height: 600px;
    outline: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.square-button {
    margin: auto;   
    text-align: center;
}